<template>
  <!-- .input-group>input.form-control+button.btn   -->
  <div class="input-group">
    <input type="text" class="form-control" 
    v-model="title"
    @keyup.enter="addTodo">
      <button class="btn" 
        @click="addTodo">
        Add Todo
      </button>
    </div>  
</template>

<script>
export default {
  name: "QuickTodo",
  data: () => ({
    title: ""
  }),
  methods: {
    addTodo() {
      this.$emit("create-todo", this.title);
      this.title = ""
    }
  }
};
</script>

<style>

</style>
