<template>

<div>
  <slot name="title"></slot>
  <ul class="list-group">
    <li v-for="todo of todos" :key="todo.id"  class="list-group-item">
      <slot name="item" :todo="todo"></slot>
    </li>

  </ul>
  <p v-if="!todos.length">Nothing here</p>
  <slot></slot>
</div>

</template>

<script>
import TodoItem from "./TodoItem.vue";

export default {
  name: "TodosList",
  props: {
    todos: {
      type: Array,
      required: true
    },
    component: {},
    editor: {
      type: Boolean,
      default: true
    }
  },
  components: {
    TodoItem
  }
};
</script>


<style lang="scss" scoped>

</style>
