<template>
  <div class="list-group-item">
    <input type="checkbox" 
        :checked="todo.completed"
        @change="$emit('toggle-todo',todo.id)">
    {{todo.title}}
    <span class="pull-right">
      <span class="fa fa-heart-o" 
          @click="$emit('favourite-todo',todo.id)"></span>
      <span class="fa fa-close" 
          @click="$emit('remove-todo',todo.id)"></span>
    </span>
  </div>
</template>

<script>
export default {
  name: "TodoItem",
  props: ["todo"]
};
</script>

<style>

</style>
