<template>
  <div>
    <div class="list-group">
      <div class="list-group-item"
      :class="{
        'active': user == selectedUser
      }" 
      v-for="user of users"
      @click="$emit('selectUser',user)"
      :key="user.id">
        {{user.name}}
      </div>
    </div>
    <p v-if="!users.length">Nothing here</p>
  </div>
</template>

<script>
export default {
  props: ["users", "selectedUser"],
  model: {
    prop: "selectedUser",
    event: "selectUser"
  }
};
</script>

