<template>
  <div v-if="user">
      <form>

      <div class="form-group">
        <label for="">Name</label>
        <input type="text"  class="form-control" v-model="user.name">
      </div>
      
    </form>
  </div>
  <p v-else>Please select user

    {{$route.params.id}}
  </p>
</template>

<script>
export default {
  props: ["selected"],
  data: () => ({
    user: null
  }),
  watch: {
    selected(user) {
      // this.user = Object.assign({},user);
      this.user = { ...user };
    }
  }
  // beforeCreate() {
  //   console.log("beforeCreate");
  // },
  // created() {
  //   console.log("created");
  // },
  // beforeUpdate() {
  //   console.log("beforeUpdate");
  // }
};
</script>

<style>

</style>
