<template>
        <div class="row">
        <div class="col">  
          <TodosList :todos="todosList">
            <template slot="title">
              <h2>Todos</h2>    
            </template>

            <template slot="item" slot-scope="listItem"> 
              <input type="checkbox" 
                :checked="listItem.todo.completed"
                @change="toggleTodo(listItem.todo.id)">
                x {{listItem.todo.title}}
              <span class="pull-right">
                <span class="fa fa-heart-o" 
                    @click="favouriteTodo(listItem.todo.id)"></span>
                <span class="fa fa-close" 
                    @click="removeTodo(listItem.todo.id)"></span>
              </span>
            </template>
    
            <hr>
            <QuickTodo @create-todo="createTodo" ></QuickTodo>

          </TodosList>
        </div>
        <div class="col">
          <TodosList
            :todos="favouritesList"
            :editor="false">
            <template slot="title">
              <h2>Favourite Todos</h2>
            </template>

            <template slot="item" slot-scope="listItem"> 
              <input type="checkbox" 
                :checked="listItem.todo.completed"
                @change="toggleTodo(listItem.todo.id)">
                {{listItem.todo.title}}
              <span class="pull-right">
                <span class="fa fa-heart-o" 
                    @click="unfavouriteTodo(listItem.todo.id)"></span>
                <span class="fa fa-close" 
                    @click="removeTodo(listItem.todo.id)"></span>
              </span>
            </template>
          </TodosList>
        </div>
      </div>
</template>

<script>
import TodosList from "../components/TodosList.vue";
import FavouriteTodoItem from "../components/FavouriteTodoItem.vue";
import QuickTodo from "../components/QuickTodo.vue";
import { mapState, mapGetters, mapMutations, mapActions } from "vuex";

export default {
  name: "Todos",
  data: () => ({}),
  computed: {
    ...mapGetters({
      todosList: "todos",
      favouritesList: "favourites"
    })
  },
  methods: {
    ...mapMutations({
      toggleTodo: "toggleTodo",
      removeTodo: "deleteTodo"
    }),
    ...mapActions(["createTodo"]),
    ...mapMutations(["favouriteTodo", "unfavouriteTodo"])
  },
  components: {
    FavouriteTodoItem,
    TodosList,
    QuickTodo
  }
};
</script>

<style>

</style>
