<template>
    <div class="row">
      <div class="col">
        <h3>Users</h3>
        {{error}}
        <p v-if="loading">Please wait loading</p>
        <UsersList v-else :users="users" 
        :selectedUser="selected"
        @selectUser="selectUser"
        ></UsersList>
      </div>
      <div class="col">
         <router-view></router-view>
      </div>
    </div>


</template>

<script>
import UsersList from "../components/UsersList.vue";
import UserForm from "../components/UserForm.vue";
import axios from "axios";
import { mapGetters } from 'vuex';

export default {
  data: () => ({
    selectedId: null,
    loading: false,
    error: "",
  }),
  watch: {
    $route(to) {
      this.selectedId = to.params.id;
    }
  },
  computed: {
    ...mapGetters(['users']),
    selected() {
      const selectedId = this.selectedId;
      const users = this.users
      return users.find(user => selectedId == user.id);
    }
  },
  created() {
    this.loading = true;
    this.error = "";

    // this.$http.get("users/").then(response => {
    //   this.users = response.body;
    //   this.loading = false;
    // }, error => (this.error = error.message));
  },
  methods: {
    selectUser(user) {
      this.$router.push({
        path: "/users/" + user.id
        // params:{ id: user.id}
      });
    }
  },
  components: {
    UserForm, // UserForm: UserForm
    UsersList
  }
};
</script>

<style>

</style>
