<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col">
            <ul>
              <li>
                <router-link to="/users">Users</router-link>
              </li>
              <li>
                <router-link to="/todos">Todos</router-link>
              </li>
            </ul>
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Todos from "./scenes/Todos";
import Users from "./scenes/Users";

export default {
  name: "app",
  data() {
    return {
      msg: "Welcome to Your Vue.js App"
    };
  },
  components: {
    Todos,
    Users
  }
};
</script>

<style lang="scss">

</style>
